<!doctype html>
<html lang="ja">
<head>
  {% include '../_includes/_head.njk' %}
</head>
<body>
{% include '../_includes/_SiteHeader.njk' %}
{% block content %}
{% endblock %}
{% include '../_includes/_SiteFooter.njk' %}
</body>
</html>




